.forms-content{
    max-width:600px;
    margin:10px auto;
    padding:25px;
    box-shadow: -2px 2px 15px black;
}
.accounts{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.account-fields{
    padding:10px;
    box-shadow: -2px 2px 15px black;
    display:flex;
    flex-direction:column;
    gap:10px;
}